
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>Machine Learning</h1>
        </header>
        <div id="nav">
            <div>
                <p>Use tensorflow library to classify an image.</p>
                <a href="imageClassifier">Image Classifier</a>

            </div>
            <div>
                <p>Use tensorflow library to classify a video.</p>
                <a href="videoClassifier">Video Classifier</a>
            </div>
            <div>
                <p>Use tensorflow library to classify objects in an image.</p>
                <a href="objectDetection">Image Object Detection</a>
            </div>
            <div>
                <p>Use tensorflow library to classify objects in an image.</p>
                <a href="objDetectVideo">Video Object Detection</a>
            </div>
            <div>
                <p>Use tensorflow library to make you own classification.</p>
                <a href="transferFeature">Transfer Feature</a>
            </div>
            <div>
                <p>Use tensorflow library to chase an object in a video.</p>
                <a href="transferFeatureReg">Transfer Feature Regression</a>
            </div>
        </div>
    </div>
</body>
</html>

