@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

#container {
  margin: 10px auto;
  max-width: 800px;
  min-height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  box-shadow: 0 0 25px gray;
  padding: 20px;
  border-radius: 15px;
}

input,
button,
#select {
  width: 25%;
  margin-top: 10px;
}

img {
  width: 80%;
}

#predictions {
  width: 100%;
  margin-top: 10px;
  border: 1px solid gray;
  text-align: center;
  max-width: 800px;
}

#imgDetect {
  display: none;
}

#webcam {
  display: none;
}

header {
  text-align: center;
  padding: 20px 5px;
  background-color: #ddd;
  border: 1px solid black;
  width: 100%;
}

nav a {
  padding: 5px;
  text-decoration: none;
  color: #444;
}
nav a:hover {
  color: black;
  text-decoration: underline;
}

#canvasVideo {
  display: none;
}

#class,
#trainBtn {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

#description {
  border-bottom: 2px solid gray;
}
